.container {
    position: relative;
    z-index: 50;
    max-width: 1290px;
    margin: 0px auto;
}

.header {
    position: relative;
    width:100%;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 50;
    border-bottom: 1px solid #878787;
}

.header__content {
   display:flex;
   min-height: 105px;
   align-items: center;
   justify-content: space-between;
   padding: 0 45px;
   width: 100%;
}

.navigation__item {
    font-size:14px;
    color:inherit;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: unset;
}

.navigation__item:not(:last-child) {
    margin-right: 30px;
}

.header__right {
    display:flex;
}

.tel {
    position:relative;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
}
  
.tel__number {
    font-size: 18px;
    font-weight: 500;
    color: inherit;
    text-decoration: unset;
}

.menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-left: 80px;
}

.menu__line {
    width: 40px;
    border: 2px solid #fff;
}


.h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 117%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    margin-top: 130px;
}

.footer__body {
    max-width: 213;
    height: 61;;
    margin: 95px 0;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-family: "Roboto Condensed", sans-serif;
    color: #3D3D3D;
    line-height: 16.41px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.footer__link {
    color: #3D3D3D;
    text-decoration: unset;
}

.footer__copyright {
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    color: #878787;
}

@media (max-width:768px) {
    .menu {
        display:flex;
    }

    .navigation {
        display: none;
    }

    .footer {
        display: flex;
        justify-content: center;
        background-color: #F7F7F7;
        margin-top: 100px;
    }
}



@media (max-width:768px) {
    .menu {
        display:flex;
    }

    .navigation {
        display: none;
    }
}

@media (max-width:720px) {
    .menu {
        margin-left: 29px;
    }
}

@media (max-width:428px) {
    .header__content {
        min-height: 70px;
        padding: 0 15px;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .tel__image img {
        width: 21px;
        height: 21px;
    }

    .tel__number {
        font-size: 12px;
    } 

    .h2 {
        font-size: 30px;
    }

    .footer {
        margin-top: 70px;
    }
}